<div id="aboutDolev" style="display: flex; margin-left: 20% ;">
    <div style="width: 50%; ">
        <h1>About Dolev Dublon </h1>
        <p class="lead">Hi! My name is Dolev, I'm 21 years old. <br>
            Currently living in Tel-Aviv.<br>
            I served 3 years of in Israeli Navy WarShips unit.<br>
        </p>
        <h1>About The Project</h1>
        <p class="lead">This project contains all that we have learned in the past 4 months of our Full-Stack course,
            which
            includes subjects as</p>
        <ul>
            <li>JavaScript</li>
            <li>HTML & Css</li>
            <li>Bootsrap & Jquery</li>
            <li>Http Requests and working with APIs</li>
            <li>Modules</li>
            <li>Arrays methods & Functions</li>
            <li>And much much more...</li>
        </ul>
        <br />
        <h2> Have Fun ! </h2>
    </div>
    <div><img src="./components/about/DolevPhoto.jpg" alt="Dolev the creator" width="400" height="500">
    </div>


</div>